<section id="home" class="section section-hero">
    <div class="container">
        <h1>Sobre o Projeto</h1>
        <p class="lead">
            Essa aplicação foi desenvolvida com <strong>Blazor wasm (.NET 9)</strong> Consumindo web API com SQLite
        </p>
        <p class="lead">
            O Objetivo é servidor como <strong>Playground de componentes </strong> como cards, lista, eventos, <code>onclick</code>
            formularios e navegação <strong>Single Page Application</strong>
        </p>
    </div>
</section>