<footer id="footer" class="mt-5 py-3 bg-light">
    <div class="container text-center">
        <small>
            WasmMP2 - Single Page Application <br />
            &copy;@DateTime.Now.Year - powerbed by Clayton
        </small>
    </div>
</footer>