<section id="home" class="section section-hero">
    <div class="container">
        <h1>WasmMP2 - Produtos</h1>
        <p class="lead">
            Exemplo Inicial de componentes consumindo API + SQLite em uma <strong>Single Page Application</strong>
        </p>
    </div>
</section>